/* small mobile :320px. */
@media (max-width: 420px) {
.container{
	width: 95%;
}
.container-2{
    width: 95%;
}
 header .menu {
    float: none;
    display: none;
}
header .logo {
    margin-top: 10px;
}
.burger-menu{
	float: right;
	font-size: 30px;
	cursor: pointer;
	display: block;
}
.col-6 {
    width: 100%;
    float: none;
}
.newsletter form {
    width: 90%;
    margin-top: 60px;
}
.t-blogs .btn {
    margin-top: 60px;
}
footer .terms {
    display: block;
    text-align: center;
}
footer .f-icon {
    float: none;
    margin-top: 30px;
    text-align: center;
}
}
 

